Repository kimzuni-labs/templify: changes, and which Codecov flags are due for each by the changed paths.
All: templify, templify-cli

docs(core): update jsdoc
  packages/@kimzuni/templify/src/constants.ts
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/src/types.ts
Due: templify

refactor(cli)!: migrate to the updated core API
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/src/constants.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
Due: templify, templify-cli

perf(core): use direct core functions for one-off operations
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify

style(core): minor code cleanups and reordering
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/browser.test.ts
Due: templify

feat(core)!: enable deep object traversal by default (zero-config)
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/constants.ts
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/browser.test.ts
  packages/@kimzuni/templify/tests/index.test.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify

chore(cli): fix lint error
  packages/@kimzuni/templify-cli/src/cli.ts
Due: templify, templify-cli

refactor(cli): use targeted `.mockRestore()` instead of global `mock.restore()`
  packages/@kimzuni/templify-cli/tests/preload.ts
Due: templify, templify-cli

feat(core)!: redefine spacing option to use [min, max] range
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/index.test.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify

perf(core): defer pattern initialization in compile for zero-overhead
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

perf(core): optimize path resolution and drop flattenContext
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify

feat(cli)!: redefine `--spacing-size` option syntax for range support
  packages/@kimzuni/templify-cli/src/constants.ts
  packages/@kimzuni/templify-cli/src/validate.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
  packages/@kimzuni/templify-cli/tests/utils.test.ts
  packages/@kimzuni/templify-cli/tests/validate.test.ts
Due: templify, templify-cli

style(core): update eslint rules
  eslint.config.js
Due: none

refactor(core)!: remove `fields` alias in favor of `placeholders`
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

refactor(core)!: remove direct functions `keys`, `placeholders` and `groups`
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/src/index.ts
  packages/@kimzuni/templify/tests/browser.test.ts
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

refactor(core)!: convert keys, placeholders, and groups to getter properties
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

feat(core): introduce strict runtime validation for options
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/src/normalize.ts
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/normalize.test.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify

perf(core): optimize regex matching and callback parameters
  packages/@kimzuni/templify/src/constants.ts
  packages/@kimzuni/templify/src/utils.ts
Due: templify

refactor: apply safe index access and enable noUncheckedIndexedAccess
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/src/utils.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/index.test.ts
  packages/@kimzuni/templify/tests/utils.test.ts
  tsconfig.base.json
Due: templify, templify-cli

perf(core): optimize parseData with single-pass extraction
  packages/@kimzuni/templify/src/utils.ts
Due: templify

refactor(core): convert `KEY_PATTERNS.*` to named export
  packages/@kimzuni/templify/src/constants.ts
  packages/@kimzuni/templify/src/constants/index.ts
  packages/@kimzuni/templify/src/constants/key-patterns.ts
Due: templify

chore(release): include refactor commits in changelog
  .release-please/config.json
Due: none

ci: update versions
  .github/workflows/release.yml
Due: none

refactor(cli): replace manual env parsing with dotenv
  bun.lock
  packages/@kimzuni/templify-cli/package.json
  packages/@kimzuni/templify-cli/src/utils.ts
Due: templify, templify-cli

chore(deps): bump all dependencies to major versions with type fixes
  bun.lock
  package.json
  packages/@kimzuni/templify-cli/package.json
  packages/@kimzuni/templify/package.json
  packages/@kimzuni/templify/src/utils.ts
  tsconfig.base.json
Due: templify, templify-cli

fix(cli): wrap command initialization in try-catch to prevent unhandled errors
  packages/@kimzuni/templify-cli/src/cli.ts
Due: templify, templify-cli

build(core): modernize compilation targets (node22/es2020) and drop local es6 tsconfig
  packages/@kimzuni/templify/tsconfig.json
  packages/@kimzuni/templify/tsdown.config.js
Due: templify

refactor(cli): migrate to pure ESM and simplify entry with top-level await
  packages/@kimzuni/templify-cli/package.json
  packages/@kimzuni/templify-cli/src/index.ts
  packages/@kimzuni/templify-cli/tsdown.config.js
Due: templify, templify-cli

Path conditions:
  templify: any of: packages/@kimzuni/templify
  templify-cli: any of: packages/@kimzuni/templify-cli
