Repository kimzuni-labs/templify: changes, and which Codecov flags are due for each by the changed paths.
All: templify, templify-cli

.codecov.yml:

---
component_management:
  individual_components:
    - component_id: templify
      paths:
        - packages/@kimzuni/templify
    - component_id: templify-cli
      paths:
        - packages/@kimzuni/templify-cli

chore: update config
  .release-please/config.json
  bunfig.toml
Due: none

chore: update config (#50)
  .release-please/config.json
  bunfig.toml
Due: none

fix(ci): remove leftover inputs references in workflow
  .github/workflows/release.yml
Due: none

fix(ci): remove leftover inputs references in workflow (#53)
  .github/workflows/release.yml
Due: none

chore: add extra-files in release-please config
  .release-please/config.json
  bun.lock
Due: none

chore: add extra-files in release-please config (#54)
  .release-please/config.json
  bun.lock
Due: none

feat: add depth option for deep access to context
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/constants.ts
  packages/@kimzuni/templify/src/index.ts
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/index.test.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify

feat: add options: --depth, --key-pattern
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/src/constants.ts
  packages/@kimzuni/templify-cli/src/types.ts
  packages/@kimzuni/templify-cli/src/utils.ts
  packages/@kimzuni/templify-cli/src/validate.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
  packages/@kimzuni/templify-cli/tests/utils.test.ts
  packages/@kimzuni/templify-cli/tests/validate.test.ts
Due: templify, templify-cli

feat: add depth option for deep access to context (#55)
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/src/constants.ts
  packages/@kimzuni/templify-cli/src/types.ts
  packages/@kimzuni/templify-cli/src/utils.ts
  packages/@kimzuni/templify-cli/src/validate.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
  packages/@kimzuni/templify-cli/tests/utils.test.ts
  packages/@kimzuni/templify-cli/tests/validate.test.ts
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/constants.ts
  packages/@kimzuni/templify/src/index.ts
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/index.test.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify, templify-cli

remove `* add templify-cli package` in CHANGELOG
  packages/@kimzuni/templify/CHANGELOG.md
Due: templify

fix: replace workspace:^ deps for npm publish
  packages/@kimzuni/templify-cli/package.json
Due: templify, templify-cli

fix: move --if-present after run in build script
  package.json
Due: none

fix: replace workspace:^ deps for npm publish (#57)
  package.json
  packages/@kimzuni/templify-cli/package.json
Due: templify, templify-cli

refactor: switch bin from esm to cjs
  packages/@kimzuni/templify-cli/package.json
  packages/@kimzuni/templify-cli/src/index.ts
  packages/@kimzuni/templify-cli/tsdown.config.js
Due: templify, templify-cli

refactor: use process.exitCode instead of process.exit
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/tests/common.ts
  packages/@kimzuni/templify-cli/tests/preload.ts
Due: templify, templify-cli

fix(cli): avoid extra newline in render output
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
  packages/@kimzuni/templify-cli/tests/common.ts
Due: templify, templify-cli

fix(cli)!: use stdout.write in render to avoid extra newline
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
  packages/@kimzuni/templify-cli/tests/common.ts
  packages/@kimzuni/templify-cli/tests/preload.ts
Due: templify, templify-cli

fix(cli)!: use stdout.write in render to avoid extra newline (#62)
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
  packages/@kimzuni/templify-cli/tests/common.ts
  packages/@kimzuni/templify-cli/tests/preload.ts
Due: templify, templify-cli

docs: update readme
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify/README.md
Due: templify, templify-cli

docs: add screehshots in readme files
  README.md
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/images/example.png
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/images/example.png
Due: templify, templify-cli

docs: update readme (#63)
  README.md
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/images/example.png
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/images/example.png
Due: templify, templify-cli

chore: apply version in bun.lock
  bun.lock
Due: none

ci: move `--if-present` before `build` in build step
  .github/workflows/release.yml
Due: none

ci: move `--if-present` before `build` in build step (#64)
  .github/workflows/release.yml
Due: none

chore: add types field in package.json for ts icon on npmjs
  packages/@kimzuni/templify/package.json
Due: templify

chore: add types field in package.json for ts icon on npmjs (#65)
  packages/@kimzuni/templify/package.json
Due: templify

feat: support browser
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/tests/browser.test.ts
  packages/@kimzuni/templify/tsdown.config.js
Due: templify

feat: support browser (#66)
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/tests/browser.test.ts
  packages/@kimzuni/templify/tsdown.config.js
Due: templify

chore: update package.json, release.yml, release-please/config.json
  .github/workflows/release.yml
  .release-please/config.json
  packages/@kimzuni/templify/package.json
Due: templify

chore: update package.json, release.yml, release-please/config.json (#68)
  .github/workflows/release.yml
  .release-please/config.json
  packages/@kimzuni/templify/package.json
Due: templify

style(core): update eslint rules
  eslint.config.js
Due: none

feat(core)!: redefine spacing option to use [min, max] range
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/index.test.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify

refactor(core)!: remove `fields` alias in favor of `placeholders`
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

refactor(core)!: convert keys, placeholders, and groups to getter properties
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

refactor(core)!: remove direct functions `keys`, `placeholders` and `groups`
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/src/index.ts
  packages/@kimzuni/templify/tests/browser.test.ts
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

perf(core): defer pattern initialization in compile for zero-overhead
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

feat(cli)!: redefine `--spacing-size` option syntax for range support
  packages/@kimzuni/templify-cli/src/constants.ts
  packages/@kimzuni/templify-cli/src/validate.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
  packages/@kimzuni/templify-cli/tests/utils.test.ts
  packages/@kimzuni/templify-cli/tests/validate.test.ts
Due: templify, templify-cli

perf(core): optimize path resolution and drop flattenContext
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/src/compile.ts
  packages/@kimzuni/templify/src/direct.ts
  packages/@kimzuni/templify/src/types.ts
  packages/@kimzuni/templify/src/utils.ts
  packages/@kimzuni/templify/tests/utils.test.ts
Due: templify
