Repository kimzuni-labs/templify: changes, and which Codecov flags are due for each by the changed paths.
All: templify, templify-cli

.codecov.yml:

---
component_management:
  individual_components:
    - component_id: templify
      paths:
        - packages/@kimzuni/templify
    - component_id: templify-cli
      paths:
        - packages/@kimzuni/templify-cli

build(cli): modernize tsdown target to node22 and clean up local tsconfig
  packages/@kimzuni/templify-cli/tsconfig.json
  packages/@kimzuni/templify-cli/tsdown.config.js
Due: templify, templify-cli

build(core): modernize compilation targets (node22/es2020) and drop local es6 tsconfig
  packages/@kimzuni/templify/tsconfig.json
  packages/@kimzuni/templify/tsdown.config.js
Due: templify

chore(deps): bump all dependencies to major versions with type fixes
  bun.lock
  package.json
  packages/@kimzuni/templify-cli/package.json
  packages/@kimzuni/templify/package.json
  packages/@kimzuni/templify/src/utils.ts
  tsconfig.base.json
Due: templify, templify-cli

refactor(cli): migrate to pure ESM and simplify entry with top-level await
  packages/@kimzuni/templify-cli/package.json
  packages/@kimzuni/templify-cli/src/index.ts
  packages/@kimzuni/templify-cli/tsdown.config.js
Due: templify, templify-cli

fix(cli): wrap command initialization in try-catch to prevent unhandled errors
  packages/@kimzuni/templify-cli/src/cli.ts
Due: templify, templify-cli

chore: refine changelog configuration and enable build section
  .release-please/config.json
Due: none

style: eslint update
  eslint.config.js
  packages/@kimzuni/templify/tests/index.test.ts
Due: templify

chore(playground): init playground
  bun.lock
  eslint.config.js
  package.json
  playground/.gitignore
  playground/README.md
  playground/components.json
  playground/index.html
  playground/package.json
  playground/public/site.webmanifest
  playground/src/App.tsx
  playground/src/components/header.tsx
  playground/src/components/mode-toggle.tsx
  playground/src/components/section.tsx
  playground/src/components/ui/button.tsx
  playground/src/components/ui/dropdown-menu.tsx
  playground/src/components/ui/select.tsx
  playground/src/components/ui/theme-provider.tsx
  playground/src/lib/utils.ts
  playground/src/main.tsx
  playground/src/styles/index.css
  playground/src/styles/style.css
  playground/tsconfig.app.json
  playground/tsconfig.json
  playground/tsconfig.node.json
  playground/vite.config.ts
Due: none

feat(playground): dynamic import by selected version
  playground/src/App.tsx
  playground/src/components/header.tsx
  playground/src/components/loading.tsx
  playground/src/components/version-select.tsx
  playground/src/hooks/use-version.tsx
  playground/src/versions/config.ts
  playground/src/versions/head/runner.tsx
  playground/src/versions/v3/runner.tsx
  playground/src/vite-env.d.ts
Due: none

feat(playground): v3 playground
  playground/src/App.tsx
  playground/src/components/error-box.tsx
  playground/src/components/hover-card.tsx
  playground/src/components/input.tsx
  playground/src/components/playground/data-item-row.tsx
  playground/src/components/playground/fields.tsx
  playground/src/components/playground/layout.tsx
  playground/src/components/playground/value-editor.tsx
  playground/src/components/section.tsx
  playground/src/components/select.tsx
  playground/src/components/textarea.tsx
  playground/src/components/tooltip.tsx
  playground/src/components/ui/alert.tsx
  playground/src/components/ui/badge.tsx
  playground/src/components/ui/card.tsx
  playground/src/components/ui/checkbox.tsx
  playground/src/components/ui/collapsible.tsx
  playground/src/components/ui/field.tsx
  playground/src/components/ui/hover-card.tsx
  playground/src/components/ui/input-group.tsx
  playground/src/components/ui/input.tsx
  playground/src/components/ui/label.tsx
  playground/src/components/ui/scroll-area.tsx
  playground/src/components/ui/separator.tsx
  playground/src/components/ui/tabs.tsx
  playground/src/components/ui/textarea.tsx
  playground/src/components/ui/toast.tsx
  playground/src/components/version-select.tsx
  playground/src/hooks/use-media-query.ts
  playground/src/lib/esm-loader.ts
  playground/src/lib/random.ts
  playground/src/lib/storage.ts
  playground/src/lib/tree-utils.ts
  playground/src/styles/style.css
  playground/src/types/playground.ts
  playground/src/versions/head/runner.tsx
  playground/src/versions/v3/controller.tsx
  playground/src/versions/v3/presets.ts
  playground/src/versions/v3/runner.tsx
Due: none

docs(playground): update README
  README.md
Due: none

ci(playground): setup github pages deployment workflow and fix build script
  .github/workflows/playground.yml
  bun.lock
  package.json
  playground/vite.config.ts
Due: none

ci(release): optimize workflow trigger paths
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

docs: add playground links and fix urls
  README.md
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/package.json
Due: templify

docs: update playground section in README files for clarity
  README.md
  packages/@kimzuni/templify/README.md
Due: templify

docs: rename screenshot to overview
  README.md
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify/README.md
Due: templify, templify-cli

docs: fix internal README links and typo
  README.md
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify/README.md
  playground/README.md
Due: templify, templify-cli

docs(contributing): remove list of lint tools
  CONTRIBUTING.md
Due: none

docs(cli): update example.png to example.gif with vhs
  .gitignore
  README.md
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/images/example.gif
  packages/@kimzuni/templify-cli/images/example.png
  packages/@kimzuni/templify-cli/images/example.tape
Due: templify, templify-cli

docs(core): update example.png and add example.mjs
  README.md
  eslint.config.js
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/images/example.mjs
  packages/@kimzuni/templify/images/example.png
Due: templify

docs(playground): update readme and add playground.png
  playground/README.md
  playground/images/playground.png
Due: none

docs: update README files, overview media, and internal links (#79)
  .gitignore
  CONTRIBUTING.md
  README.md
  eslint.config.js
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/images/example.gif
  packages/@kimzuni/templify-cli/images/example.png
  packages/@kimzuni/templify-cli/images/example.tape
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/images/example.mjs
  packages/@kimzuni/templify/images/example.png
  playground/README.md
  playground/images/playground.png
Due: templify, templify-cli

ci: separate build step from tests to fix timeout issue
  .github/workflows/ci.yml
  packages/@kimzuni/templify/tests/browser.test.ts
Due: templify

chore(cli): clean up leftover code and docs from core major update
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/src/utils.ts
  packages/@kimzuni/templify-cli/tests/utils.test.ts
Due: templify, templify-cli

refactor(playground): improve initial default value handling in ValueSelect
  playground/src/components/playground/data-item-row.tsx
  playground/src/components/playground/value-editor.tsx
Due: none

fix(cli): restrict --depth option to render command only
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/src/validate.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
Due: templify, templify-cli

fix(cli): restrict --depth option to render command only (#80)
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/src/cli.ts
  packages/@kimzuni/templify-cli/src/validate.ts
  packages/@kimzuni/templify-cli/tests/cli.test.ts
Due: templify, templify-cli

docs: update README and examples for clarity and additional features
  packages/@kimzuni/templify-cli/README.md
  packages/@kimzuni/templify-cli/images/example.tape
  packages/@kimzuni/templify/README.md
  packages/@kimzuni/templify/images/example.mjs
  packages/@kimzuni/templify/images/example.png
Due: templify, templify-cli

chore(config): spaces to tab in release-please config file
  .release-please/config.json
Due: none
